
.form button {
    margin: 0.5em 0 0.5em 1.5em;
    width: 70%;
    background-color: #FEEC50;
    color:#363633;
    font-weight: bold; 
    border-radius: 1em;
    text-align: center;
}


.form button:hover {
    background-color: #363633;
    color:#FEEC50;
}


